<html ng-app="ocrSelectAngularApp">
   <head>
      <title>OCR Select</title>
      
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">
   </head>
   <body ng-controller="OcrSelectCtrl as ocrselect">
      <br><br><br>
      <center>
         <div class="card text-white bg-primary mb-3" style="max-width: 60rem;">
         <div class="card-header">NowScan</div>
         <div class="card-body">
                     
                                        <div class="row float-right">
                                           <div>
                                              <div class="card text-white bg-primary mb-3 " style="max-width: 20rem;">
                                                 <div class="card-header">Open PDF</div>
                                                 <div class="card-body">
                                                    <button id="uploadit" type="button" class="btn btn-secondary btn-block" >Upload File</button>
                                                    <input on-file-change="ocrselect.fileChangeHandler;" id="img-input" type="file" name="pic" accept="image/*, application/pdf"  hidden>
                                                 </div>
                                              </div>
                                              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                                 <div class="card-header">Snap view</div>
                                                 <div class="card-body">
                                                    <div id="results-area">
                                                       <canvas id="test-area">
                                                       </canvas>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                                 <div class="card-header">Controls</div>
                                                 <div class="card-body">
                                                    <select class="form-control" ng-model="ocrselect.langs.selectedLang" name="language" id="language" ng-options="lang as lang for lang in ocrselect.langs.list">
                                                    </select>
                                                    <select  class="form-control" >
                                                       <option>Google API</option>
                                                       <option>Teseract JS</option>
                                                       <option>Other's</option>
                                                    </select>
                                                    <select  class="form-control" ng-class="ocrselect.dropZone" ng-model="ocrselect.pdf.currentPage" name="pageSelect" id="pageSelect" ng-options="page as page for page in ocrselect.pdf.pageList" ng-change="ocrselect.onPageSelect(ocrselect.pdf.currentPage)">
                                                    </select>
                                                 </div>
                                              </div>
                                              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                                 <div class="card-header">Fields</div>
                                                 <div class="card-body">
                                                    <div class="input-group mb-3">
                                                                <div id="holder">
                                                                       
                                                                              
                                                                              
                                                                              <div id='TextBoxesGroup'>
                                                                                      <div id="TextBoxDiv1" class="input-group-prepend">
                                                                                              <label class="editable input-group-text">Field #1 : </label><input type='textbox' class="form-control" id='field1' >
                                                                                              <!-- <input type='button' value='X' id='removeButton'> -->
                                                                                      </div>
                                                                              </div>
                                                                              <!-- <input type='button' value='Add Button' id='addButton' > --><br>
                                                                              <input type='button' value='Remove Fields' id='removeButton' class="btn btn-secondary btn-block">
                                                                              <!-- <input type='button' value='Get TextBox Value' id='getButtonValue'> -->
<br>
                                                                              <a id='saveit' download="" style="display:none;" /> 
            
            <a href="#" onclick="downloadPDF();" class="btn btn-secondary btn-block">Save</a>

                                                                              </div>

                                                      
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                   
                                        

                                        <div class="float-left ">
                                 <div class="container">
                                        <div id="image-section" > 
                                        <div id="image-area" class="drop-zone" on-drag-over="ocrselect.dragOverHandler" on-drag-end="ocrselect.dragEndHandler" on-drop="ocrselect.dropHandler" >
                                        <canvas ng-model="imgUpload" ng-mousedown="ocrselect.initBox($event)" ng-mousemove="ocrselect.drawBox($event)" ng-mouseup="ocrselect.captureBox($event)" id="uploaded-img"></canvas>
                                        <div ng-class="ocrselect.isActive" ng-style="ocrselect.boxSelect" id="box-select"></div>
                                        </div>
                                        <form id="pdf-controls">
                                        </form>

                                        </div>
                                </div>
                                        </div>
                                     
         </div>   
         </div>

        
      </center>
  >
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="angular.min.js"></script>
      <script src="angular-route.min.js"></script>
      <script src="angular-resource.min.js"></script>
      <script type="text/javascript" src="external/pdf.js"></script>	
      <script src='https://cdn.rawgit.com/naptha/tesseract.js/1.0.10/dist/tesseract.js'></script>
      <script type="text/javascript" src="app.js"></script>
      <script type="text/javascript" src="allFactories.js"></script>
      <script type="text/javascript" src="allControllers.js"></script>
   </body>
</html>